*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Fira code, Arial;
}

.App{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #ffe0b2;
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
	overflow-x: hidden;
}

button{
	cursor: pointer;
	padding: 10px 20px;
	margin: 10px;
	outline: none;
	border: 2px solid #000;
	background: #ffa000;
	transition: all .5s ease;
}

button:active{
	border-top: 3px solid #000;
	border-left: 3px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

button:hover{
	background: #ffd149;
}

.App .changeLanguageWrapper{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.App .changeLanguageWrapper .changeLanguage{
	background: rgba(255, 224, 178, .5);
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 10px 20px;
	transition: width .5s ease, opacity .5s ease;
	max-height: 42px;
	width: 100%;
	overflow: hidden;
	opacity: 1;
}

.App .changeLanguageWrapper.hide .changeLanguage{
	width: 0;
	display: block;
	padding: 0;
	border: none;
	opacity: 0;
}

.App .changeLanguageWrapper .changeLanguageTriangle{
	margin-right: 3px;
	height: 20px;
	width: 20px;
	text-align: right;
	cursor: pointer;
	transform: rotateZ(180deg);
}

.App .changeLanguageWrapper.hide .changeLanguage + .changeLanguageTriangle{
	transform: rotateZ(0deg);
}