.gameCanvasWrapper{
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.gameCanvasWrapper .title{
	font-size: 30px;
	margin: 10px;
}

.gameCanvasWrapper .playAgain{
	display: none;
	position: absolute;
}

.gameCanvasWrapper canvas.loose ~ .playAgain{
	display: block;
}

canvas{
	background: #66bb6a;
	border: 2px solid #000;
	position: relative;
}

canvas.activeEffect{
	border: 2px solid #000;
	animation: .5s linear borderAnim infinite;
}

@keyframes borderAnim{
	0%{ border-style: dotted; }
	50%{ border-style: dashed; }
	100%{ border-style: dotted; }
}

.gameCanvasWrapper .fps{
	position: absolute;
	bottom: 0;
	right: 7px;
	opacity: .5;
}

.gameCanvasWrapper .settingsWrapper{
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
	flex-direction: row-reverse;
	align-items: flex-end;
	justify-content: center;
}

.gameCanvasWrapper canvas.loose ~ .settingsWrapper{
	display: flex;
}

.gameCanvasWrapper .settingsWrapper .settingsIcon:before{
	content: '\2699';
	cursor: pointer;
	font-size: 23px;
	padding: 5px;
	transition: all .5s ease;
}

.gameCanvasWrapper .settingsWrapper .settingsContent.active + .settingsIcon:before{
	transform: rotateZ(-90deg);
}

.gameCanvasWrapper .settingsWrapper .settingsContent{
	display: block;
	opacity: 0;
	transition: all .5s ease;
	position: fixed;
	bottom: -10%;
	left: 30px;
	background: #cbae82;
	padding: 0 5px;
	margin: 5px;
	border: #ffffe4 solid 2px;
	text-align: center;
}

.gameCanvasWrapper .settingsWrapper .settingsContent.active{
	bottom: 0;
	opacity: 1;
}

.gameCanvasWrapper .settingsWrapper .settingsContent input,
.gameCanvasWrapper .settingsWrapper .settingsContent select{
	border-radius: 12px;
	border: none;
	padding: 5px 10px;
	margin: 10px;
}

.gameCanvasWrapper .settingsWrapper .settingsContent select{
	border-radius: unset;
}

.gameCanvasWrapper .settingsWrapper .settingsContent .changeSettingsWrapper{
	max-height: 500px;
	overflow-y: scroll;
}

.gameCanvasWrapper .settingsWrapper .settingsContent .inputWrapper{
	border-bottom: 1px dotted #ffffe4;
}

.gameCanvasWrapper .infoBoardWrapper{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: left .5s ease, opacity .5s ease;
	opacity: 1;
}

.gameCanvasWrapper .infoBoardWrapper.hide{
	position: fixed;
	top: 0;
	left: -250px;
}

.gameCanvasWrapper .infoBoardWrapper.notVisibility{
	opacity: 0;
	pointer-events: none;
}

.gameCanvasWrapper .infoBoardWrapper .infoBoardTriangle{
	height: 20px;
	width: 20px;
	text-align: center;
	cursor: pointer;
}

.gameCanvasWrapper .infoBoardWrapper.hide .infoBoardTriangle{
	transform: rotateZ(180deg);
}

.gameCanvasWrapper .infoBoard{
	background: rgba(255, 224, 178, .5);
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	padding: 10px 20px;
	transition: all .5s ease;
	width: 250px;
	text-align: center;
}

.gameCanvasWrapper .infoBoard > .title{
	font-weight: bold;
	font-size: 15px;
}

.gameCanvasWrapper .infoBoard > .title + .infoCounts{
	opacity: 0;
	width: 0;
	display: block;
	transition: all .5s ease;
}

.gameCanvasWrapper .infoBoard > .title:hover + .infoCounts,
.gameCanvasWrapper .infoBoard > .infoCounts:hover{
	opacity: 1;
	width: 100%;
}

.gameCanvasWrapper .infoBoard > ul{
	display: block;
	list-style-type: none;
	max-height: 10em;
	overflow-y: scroll;
}

.gameCanvasWrapper .infoBoard > ul > li{
	line-height: 2em;
}