canvas{
	background: #0f0;
	border: 2px solid #000;
}

canvas.activeEffect{
	border: 2px solid #000;
	animation: .5s linear borderAnim infinite;
}

@keyframes borderAnim{
	0%{ border-style: dotted; }
	50%{ border-style: dashed; }
	100%{ border-style: dotted; }
}