.gameCanvasWrapper{
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.gameCanvasWrapper .title{
	font-size: 30px;
	margin: 10px;
}

.gameCanvasWrapper .playAgain{
	display: none;
	position: absolute;
	cursor: pointer;
	padding: 10px 20px;
	margin: 10px;
	outline: none;
	border: 2px solid #000;
	background: #ffa000;
	transition: all .5s ease;
}

.gameCanvasWrapper canvas.loose ~ .playAgain{
	display: block;
}

.gameCanvasWrapper .playAgain:active{
	border-top: 3px solid #000;
	border-left: 3px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.gameCanvasWrapper .playAgain:hover{
	background: #ffd149;
}

canvas{
	background: #66bb6a;
	border: 2px solid #000;
	position: relative;
}

canvas.activeEffect{
	border: 2px solid #000;
	animation: .5s linear borderAnim infinite;
}

@keyframes borderAnim{
	0%{ border-style: dotted; }
	50%{ border-style: dashed; }
	100%{ border-style: dotted; }
}

.gameCanvasWrapper .fps{
	position: absolute;
	bottom: 0;
	right: 7px;
	opacity: .5;
}